.application-wrapper {
    .first-view {
        @extend %bb;
        @extend %rel;
        @include flex;
        @include bgi($re: no-repeat, $size: cover, $position: center);
        padding: 8rem 1rem;
        height: 900px;
        background-image: url(../img/application-bn.png);

        &::after {
            @include absolute($top: 0, $left: 0);
            content: '';
            background: rgba(244, 234, 217, 0.45);
            width: 100%;
            height: 100%;
        }

        .container {
            @extend %ma;
            @extend %tac;
            @extend %rel;
            @include absolute($top: 50%, $left: 50%, $z-i: 1);
            transform: translate(-50%, -20%);
            width: 100%;
            max-width: 1420px;

            h2,
            h5 {
                text-shadow: 1px 1px 10px #FFFFFF;
                margin-bottom: 0;

                span.h3 {
                    color: $c-primary;
                    font-weight: 500;
                }
            }

            .btn {

                width: 240px;
                height: 60px;
                padding: 0.5rem 1rem;
                margin: 2rem 0;
                filter: drop-shadow(0px 3.81395px 3.81395px rgba(0, 0, 0, 0.25));
            }
        }

        @include mobile {
            height: 600px;
        }
    }

    .application-container {

        .btn {
            width: 160px;
            height: 50px;
            padding: 0.5rem 1rem;
            margin: 2rem 0;
        }

        

        .happiness-goal{
            background: $c-secondary-white;
            .container {
                @extend %page-content;
                @extend %tac;
                max-width: 960px;
                padding: 8rem 2rem;

                @include pad{
                    padding: 4rem 2rem;
                }
            }
        }

        // 品牌分類
        .brand-category {
            background: $c-white;

            .category{
                @extend %ma;
                max-width: 960px;
                padding: 5rem 2rem;
            }
        }

        .info {
            background: $c-secondary-white;

            .container {
                @extend %page-content;
                max-width: 1200px;
                padding: 4rem 2rem;

                .section-title {
                    @include flex($a-i: center, $j-c: space-between);
                    margin-bottom: 1rem;

                    .h2 {
                        margin-bottom: 0;
                    }
                }

                .bottom {
                    @include flex;
                    gap: 90px;

                    .col-1 {
                        flex: 0.3;
                    }

                    .col-2 {
                        flex: 0.7;
                    }

                    .row {
                        margin-bottom: 2rem;

                        h5,
                        p {
                            margin-bottom: 1rem;

                            &:not(p) {
                                color: $c-secondary-deep;
                            }
                        }

                        p.p1 {
                            color: $c-black;
                            font-weight: 500;
                            letter-spacing: 1px;
                            text-align: justify;

                            .red {
                                color: $c-primary;
                                font-weight: 500;
                            }

                            .fw-300 {
                                font-weight: 300;
                            }
                        }

                        b {
                            font-weight: 500;
                        }

                        ol {
                            list-style: auto;
                            padding-left: 2rem;
                            color: $c-black;

                            li {
                                letter-spacing: 1px;
                                margin-bottom: 1rem;
                                text-align: justify;

                                &::marker {
                                    padding-left: 1rem;
                                }
                            }
                        }
                    }

                    @include pad {
                        flex-wrap: wrap;
                        gap: 0px;

                        .col {
                            @include f-flexBasis(100%);
                            flex: unset;
                        }
                    }
                }

                @include pad{
                    padding: 2rem;
                }
            }
        }

        .brand-list {
            .container {
                @extend %tac;
                @extend %page-content;
                max-width: 1420px;
                padding: 8rem 2rem;

                .section-title {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid #DDD0C5;
                }

                .bottom {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 30px;
                    padding-top: 3rem;

                    .brand-cover {
                        aspect-ratio: 4 / 3;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .brand-info {
                        @extend %rel;
                        text-align: left;
                        background: $c-secondary-white;
                        padding: 2.5rem 1.5rem;

                        .brand-logo {
                            @include absolute($top: -40px, $left: 24px);
                            width: 100%;
                            max-width: 50px;
                            padding: 0.5rem;
                            background: $c-white;
                            border-radius: 5px;
                        }

                        p.b-category {
                            color: $c-primary-deep;
                            margin-bottom: 1rem;
                        }
                    }
                }

                @include mobile {
                    padding: 4rem 2rem ;

                    .bottom {
                        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
                    }
                }
            }
        }
    }
}
