.company-wrapper{
    .title-swiper{
        @include flex;
        margin: 70px 0px 0px 0px;
        .company-title{
            @include flex($d:column);
            flex: 3;
            padding: 68px 60px;
            gap: 12px;
            background: $c-secondary-white;
            .company-category{
                @include flex($a-i:center);
                gap: 8px;
                img{
                    @extend %bb;
                    padding: 4px;
                    width: 100%;
                    height: fit-content;
                    object-fit: cover;
                    max-width: 50px;
                    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
                    border-radius: 4px;
                }
                .address{
                    @include flex;
                }
            }
            hr{
                border-color: $c-secondary;
                width: 100%;
            }
            .company-img{
                @include flex($j-c:space-between,$a-i:center);
                
                img{
                    @include mentor-img(120px);
                }
                .img-award{
                    @include flex;
                    gap: 12px;
                    img{
                        @include mentor-img(65px);
                        height: fit-content;
                    }
                }
            }
        }

        .company-swiper{
            width: 200px;
            flex: 5;
        }
    }
    
    .companyJob{
        @extend %page-content;
        @include flex($d:column,$a-i:center);
        margin: auto;
        gap:48px;
        padding: 88px 120px;
        background: $c-secondary-white;
        @include pad{
            padding: 66px 80px;
            gap:32px;
        }
        @include mini-pad{
            padding: 40px 30px;
            gap:24px;
        }
        >.title{
            border-bottom: none;
            padding: 0px;
        }
        .company-select{
            @include flex($d:column,$a-i:flex-end);
            gap:16px;

            .advanced{
                @extend %pointer;
                color: $c-secondary;
                font-size: $tag;
                text-decoration-line: underline;
            }
            .select-flex{
                @include flex($j-c:space-between);
                width: 400px;
                gap:20px;
                @include mini-pad{
                    @include flex($d:column,$a-i:center);
                    width: 400px;
                }
                @include mobile{
                    width: 260px;
                }
            }
        }
    }

    .ad-area-wrapper{
        background: $c-white;
        padding: 5rem 0;
        
        .ad-area-container{
            @extend %page-content;
            @include flex($a-i:center);
            gap: 30px;
            margin: 0 auto;
            max-width: 1420px;
            .block{
                flex:1;
                flex-basis: 100%;
    
                img{
                    width: 100%;
                }
            }

            @include mobile{
                flex-wrap: wrap;
            }
        }

    }
}