.swiper{
    margin: 33px 0px 0px 0px;
}

.cardJob{
    @extend %page-content;
    @include flex($d:column);
    margin: auto;
    gap:48px;
    padding: 88px 120px;
    @include pad{
        padding: 66px 80px;
    }
    @include mini-pad{
        padding: 40px 30px;
    }
}

.article{
    @extend %page-content;
    @include flex($d:column);
    margin: auto;
    gap:48px;
    padding: 88px 120px;
    background: $c-secondary-white;
    @include pad{
        padding: 66px 80px;
    }
    @include mini-pad{
        padding: 40px 30px;
    }

    .article-item{
        @include flex($d:column);
        flex: 1;
        gap:20px;
    }

    .article-section{
        @include flex($w:wrap);
        flex: 1;
        gap:40px;
        margin: unset;
        padding: 0px;

        @include pad{
            @include flex($d:column);
        }
        @include mini-pad{
            display: none;
        }

        >.article-section{
            @include basic_grid(2,1fr,40px,40px);
        }

        >.article-item{
            @include flex($d:column);
            flex: 1;
            gap:12px;
            img{
                aspect-ratio: 16/9; 
            }
            >.article-content{
                @include flex($d:column);
                gap:4px;
            }
        }


    }

    .article-swiper{
        display: none;
        @include mini-pad{
            display: block;
        }
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            background-color: transparent;
            justify-content: center;
            align-items: center;
          }
      
          .swiper-slide img {
            padding: 0px;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
    .article-item{
        flex: 1;
        img{
            // @include mentor-img(600px);
            aspect-ratio: 16/9; 
        }
    }
}

.category{
    @extend %page-content;
    @include flex($j-c:center);
    margin: auto;
    gap:48px;
    padding: 88px 120px;
    @include pad{
        padding: 66px 80px;
    }
    @include mini-pad{
        padding: 40px 30px;
    }
}

.swiper-button-next, 
.swiper-button-prev{
    color:$c-primary;
}