.vote-wrapper {
    .first-view {
        @extend %bb;
        @extend %rel;
        @include flex;
        @include bgi($re: no-repeat, $size: cover, $position: center);
        padding: 8rem 1rem;
        height: 900px;
        background-image: url(../img/application-bn.png);

        &::after {
            @include absolute($top: 0, $left: 0);
            content: '';
            background: rgba(244, 234, 217, 0.45);
            width: 100%;
            height: 100%;
        }

        .container {
            @extend %ma;
            @extend %tac;
            @extend %rel;
            @include absolute($top: 50%, $left: 50%, $z-i: 1);
            transform: translate(-50%, -20%);
            width: 100%;
            max-width: 1420px;

            h2,
            h5 {
                text-shadow: 1px 1px 10px #FFFFFF;
                margin-bottom: 0;

                span.h3 {
                    color: $c-primary;
                    font-weight: 500;
                }
            }

            .btn {

                width: 240px;
                height: 60px;
                padding: 0.5rem 1rem;
                margin: 2rem 0;
                filter: drop-shadow(0px 3.81395px 3.81395px rgba(0, 0, 0, 0.25));
            }
        }

        @include mobile {
            height: 600px;
        }
    }

    .vote-container {

        // 投票swiper
        .vote-list {
            @extend %rel;
            @extend %page-content;
            max-width: 1420px;
            padding: 7rem 2rem;

            @include mobile{
                padding: 2rem 2rem 4rem;
            }

            .brand-name {
                margin-bottom: 1rem;
                display: -webkit-box !important;
                letter-spacing: 1.5px !important;
                text-overflow: ellipsis;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }

            .brand-name{
                color: $c-black;
            }

            .mySwiper-vote {
                max-width: 1420px;
            }

            .swiper-button-next,
            .swiper-button-prev {
                top: 55%;
                width: 70px;
                height: 70px;
                background: $c-primary;
                border-radius: 100px;

                &::after {
                    width: 34px;
                    height: unset;
                    font-size: unset !important;
                }

            }

            .swiper-button-next {
                right: 0px !important;

                &::after {
                    content: url(../img/arrow-next.svg);
                    
                    @include mini-pad {
                        content: url(../img/arrow-next-rwd.svg);
                        width: 20px !important;
                    }
                }
            }

            .swiper-button-prev {
                left: 0px !important;

                &::after {
                    content: url(../img/arrow-prev.svg);
                    width: 20px !important;

                    @include mini-pad {
                        content: url(../img/arrow-prev-rwd.svg);
                    }
                }
            }

            .search-bar{
                margin-bottom: 2.5rem;
            }

            @media only screen and (max-width: $mini-pad) {

                .swiper-button-next,
                .swiper-button-prev {
                    background: transparent;
                    width: 20px !important;
                }

                .swiper-button-next {
                    right: 10px !important;
                    text-align: right;
                }

                .swiper-button-prev {
                    left: 10px !important;
                }
            }
        }

        // 坄票區塊
        .brand-vote-category {
            background: $c-secondary-white;

            .container {
                @extend %rel;
                @extend %page-content;
                padding: 7rem 2rem;
                max-width: 1400px;

                h2 {
                    @extend %tac;
                }

                // filter
                .category {
                    @extend %ma;
                    max-width: 900px;

                    ul {
                        @media only screen and (max-width:$pad){
                            display: none;
                        }
                        @media only screen and (min-width: $pad){
                            display: flex;
                        }

                        @include flex($a-i: center, $j-c: center, $w: wrap);
                        gap: 15px;
                        margin: 3rem 0 0;

                        a {
                            font-weight: 400;
                            border-radius: 100px;
                            background: $c-white;
                            color: $c-primary;
                            transition: all ease .4s;

                            &.active,
                            &:hover {
                                color: $c-white;
                                background: $c-primary;
                            }
                        }
                    }

                    .category-sp{
                        @extend %tac;

                        @media only screen and (max-width:$pad){
                            display: block;
                        }
                        @media only screen and (min-width: $pad){
                            display: none;
                        }
                        select{
                            @extend %bb;
                            @extend %pointer;
                            width: 100%;
                            height: 47px;
                            color: $c-gray;
                            border: 1px solid #F0E7DE;
                            border-radius: 8px;
                            padding: 0.5rem;
                            padding-right: 2rem;
                            -webkit-appearance: none;
                            -moz-appearance: none;
                            margin: 1rem 0;
                            font-size: 16px;

                            background-image: url('../img/select-dropdown-icon.svg');
                            background-repeat: no-repeat;
                            background-size: 50px 15px;
                            background-position: calc(100% + 6px) calc(2em - 18px);
                        }
                        .search-submit-btn {
                            height: 37px;
                            margin: 0;
                            flex-basis: inherit;
                        }
                    }
                }

                .brand {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    gap: 30px;
                    padding-top: 3rem;

                    @include pad{
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                        padding-top: 10px;
                    }
                    @include mobile {
                        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
                    }

                    .brand-item {
                        @extend %rel;

                        .flip:hover{
                            .front{
                                transform: rotateY(180deg);
                            }
                            .back{
                                transform: rotateY(0deg);
                            }
                        }

                        .front,.back{
                            @extend %bb;
                            height: 100%;
                            transition: all ease .4s;
                        }

                        .front {
                            @extend %tac;
                            @extend %rel;
                            z-index: 1;
                            background: $c-white;
                            padding: 2rem;
                            transform: rotateY(0deg);
                            transition: all ease .4s;

                            &.active{
                                transform: rotateY(-180deg);
                                opacity: 0;
                                z-index: 0;
                            }

                            .brand-info {
                                background: transparent;
                                padding: 0;
                                margin: 1rem 0;

                                .brand-name {
                                    color: $c-primary;
                                    margin-bottom: 1rem;
                                    display: -webkit-box !important;
                                    letter-spacing: 1.5px !important;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                                p.p2 {
                                    margin-bottom: 1rem;
                                    display: -webkit-box !important;
                                    letter-spacing: 1.5px !important;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 5;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                            }

                            .media-share {
                                @include flex($a-i: center, $w: wrap);
                                gap: 10px;
                                margin-bottom: 1rem;

                                .media-item {
                                    a {
                                        @extend %dib;
                                        @extend %bb;
                                        width: 40px;
                                        height: 40px;
                                        padding: 0.5rem;
                                        border: 1px solid #DDDDDD;
                                        border-radius: 100px;
                                        transition: all ease .4s;

                                        &:hover {
                                            border-color: $c-primary-deep;

                                            svg {
                                                path {
                                                    fill: $c-primary-deep;
                                                }
                                            }
                                        }

                                        svg {
                                            width: 100%;
                                            height: 100%;

                                            path {
                                                transition: all ease .4s;
                                            }
                                        }
                                    }
                                }
                            }

                            .btn:hover{
                                background: $c-white;
                                color: $c-primary;
                            }

                            @include mobile{
                                padding: 1.5rem !important;
                            }
                        }

                        .back {
                            @include absolute($top:0,$left:0,$z-i:0);
                            background: #F1E7D5;
                            transform: rotateY(-180deg);
                            opacity: 0;
                            transition: all ease .4s;

                            &.active{
                                transform: rotateY(0deg);
                                opacity: 1;
                                z-index: 1;
                            }

                            .brand-info {
                                background: $c-white;
                                padding: 2rem;

                                .brand-name {
                                    color: $c-primary;
                                    margin-bottom: 1rem;
                                    display: -webkit-box !important;
                                    letter-spacing: 1.5px !important;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }
                                p.p2 {
                                    margin-bottom: 1rem;
                                    display: -webkit-box !important;
                                    letter-spacing: 1.5px !important;
                                    text-overflow: ellipsis;
                                    -webkit-line-clamp: 5;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;
                                }

                                ul {
                                    @include flex($a-i: center, $j-c: flex-start, $w: wrap);
                                    gap: 18px 10px;

                                    a {
                                        font-weight: 400;
                                        border-radius: 100px;
                                        background: $c-white;
                                        color: #C19E7F;
                                        border: 1px solid;
                                        padding: 0.2rem 0.5rem;
                                        transition: all ease .4s;

                                        &:hover {
                                            color: $c-white;
                                            background: #C19E7F;
                                        }
                                    }
                                }
                            }

                            .brand-jobs {
                                @extend %tac;
                                padding: 2rem;
                                background: #F1E7D5;

                                p.p1{
                                    color: $c-primary;
                                }

                                p,ul{
                                    text-align: left;
                                }

                                ul{
                                    margin: 0.5rem 0 2rem;
                                    // max-height: 173px;
                                    // overflow-y: scroll;
                                    
                                    li{
                                        padding: 0.2rem 0;
                                        border-bottom: 1px dotted #C19E7F;
                                        a{
                                            color: $c-black;
                                            padding: 0.2rem 0;
                                        }
                                    }
                                }
                            }
                        }

                        span.flip {
                            @extend %pointer;
                            @extend %dib;
                            @include absolute($top: 30px, $right: -21px);
                            background: $c-primary;
                            color: $c-white;
                            width: 18px;
                            border-radius: 0 5px 5px 0;
                            text-align: right;
                            padding: 0.2rem 0.2rem 0.2rem 0;
                        }
                    }
                }

                .pagination {
                    @include flex($a-i: center, $j-c: center);
                    margin: 2rem 0;
                    gap: 15px;

                    .pgnb-btn {
                        @extend %pointer;
                        @include flex($a-i: center, $j-c: center);
                        background: $c-primary;
                        border-radius: 100px;
                        width: 32.5px;
                        height: 32.5px;

                        svg {
                            width: 20px;
                            height: 14px;
                        }

                        &.btn-next {
                            svg {
                                margin-right: 3px;
                            }
                        }

                        &.btn-prev {
                            svg {
                                margin-left: 3px;
                            }
                        }
                    }

                    .pagination-ul {
                        @include flex($a-i: center, $j-c: center);
                        gap: 15px;

                        li {

                            a {
                                @extend %rel;
                                @extend %tac;
                                @extend %dib;
                                @extend %bb;
                                width: 32.5px;
                                height: 32.5px;
                                padding: 2px;
                                border: 1.5px solid $c-primary;
                                border-radius: 100px;
                                font-weight: 600;
                                line-height: 1.3;
                                background: $c-white;
                                color: $c-primary;
                                transition: all ease .2s;

                                &.pgnb-current,
                                &:hover {
                                    @extend %bb;
                                    padding: 2px;
                                    // border-width: 5px;
                                    border: 3px solid;
                                    background: transparent;
                                    width: 32.5px;
                                    height: 32.5px;
                                    line-height: 1.2;
                                }

                                @include pad{
                                    line-height: 1.5;

                                    &.pgnb-current,
                                    &:hover{
                                        line-height: 1.4;
                                    }
                                }
                            }
                        }
                    }
                }

                @include mobile{
                    padding: 4rem 2rem;
                }
            }
        }

        // 知名品牌區塊
        .brand-list {
            .container {
                @extend %tac;
                @extend %page-content;
                max-width: 1420px;
                padding: 8rem 2rem;

                .section-title {
                    padding-bottom: 3rem;
                    border-bottom: 1px solid #DDD0C5;
                }

                .bottom {
                    display: grid;
                    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    gap: 30px;
                    padding-top: 3rem;
                }

                .btn{
                    margin: 2rem 0;
                }

                @include pad {
                    padding: 4rem 2rem !important;

                    .bottom {
                        grid-template-columns: 1fr 1fr;
                    }
                }

                @include mobile{
                    .bottom{
                        grid-template-columns: 1fr;
                    }
                }
            }
        }

        .brand-cover {
            aspect-ratio: 4 / 3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .brand-info {
            @extend %rel;
            text-align: left;
            background: $c-secondary-white;
            padding: 2.5rem 1.5rem;

            .brand-logo {
                @include absolute($top: -40px, $left: 24px);
                width: 100%;
                max-width: 50px;
                padding: 0.5rem;
                background: $c-white;
                border-radius: 5px;
                height: unset;
            }

            p.b-category {
                color: $c-primary-deep;
                margin-bottom: 1rem;
            }
        }

        .search-bar {
            input[type=search] {
                border: 1px solid #F0E7DE;

                @include mobile {
                    flex-basis: 100%;
                }
            }

            .search-submit-btn {
                height: 47px;
                margin: 0;
                flex-basis: inherit;
            }
        }
    }
}