//===============佔位
//排版 (flex、grid的在mixin)
%ma{
    margin: auto;
}

%page-content{
    margin: auto;
    padding: 0 30px;
    max-width: 1920px; //需跟設計師確認
    box-sizing: border-box;
}

%db{
    display: block;
}

%dib{
    display: inline-block;
}

%dn{
    display: none;
}

%bb{
    box-sizing: border-box;
}

//定位(absolute在mixin)
%rel{
    position: relative;
}

%sticky{
    position: sticky;
    top: 0;
    left: 0;
}

//font
%tac{
    text-align: center;
}

//互動
%pointer{
    cursor: pointer;
}

