// 斷點
$pad: 1024px;
$mini-pad: 768px;
$mobile: 480px;

//colors
$c-primary:#EF6261;
$c-primary-deep:#DD4B4B;
$c-secondary:#CE8B52;
$c-secondary-deep:#C15E0B;
$c-secondary-light:#DDB593;
$c-secondary-white:#F7F1E7;
$c-black:#000000;
$c-gray:#505050;
$c-white:white;

//font
$h2: 44px;
$m-h2: 37px;
$h3: 32px;
$m-h3: 28px;
$h4: 24px;
$m-h4: 22px;
$h5: 22px;
$m-h5: 20px;
$p1: 19px;
$m-p1: 18px;
$p2: 17px;
$m-p2: 16px;
$tag: 16px;
$m-tag: 12px;