//base
@import 'base/var';
@import 'base/reset';
@import 'base/extend';

//mixins
@import 'mixins/mixins';

//layout
@import 'layout/footer';
@import 'layout/header';
@import 'layout/card-job';
@import 'layout/category';
@import 'layout/swiper';
@import 'layout/card-company-tag';
@import 'layout/card-job-tag';

//page
@import 'page/index';
@import 'page/archive-coverage';
@import 'page/application';
@import 'page/happiness-company';
@import 'page/happiness-job';
@import 'page/single-post';
@import 'page/talent';
@import 'page/company-story';
@import 'page/company-job';
@import 'page/company-news';
@import 'page/company-walfare';
@import 'page/lottery';
@import 'page/award-2021';
@import 'page/vote';
@import 'page/searchResult-company';
@import 'page/searchResult-job';
@import 'page/searchResult-news';
@import 'page/searchResult-issue';
@import 'page/award-2021';
@import 'page/vote';

//google-font
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

//font awesome
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

// swiper
@import url("https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css");


* {
    font-family: 'Noto Sans TC', sans-serif, Arial, "Font Awesome 6 Free" !important;
}

img {
    width: 100%;
}

//font style:最後有獨立一個按鈕樣式

h2,
.h2 {
    font-size: $h2;
    font-family: "adobe-fangsong-std", 'Noto Sans TC', sans-serif !important;
    font-weight: 600;
    font-style: normal;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: $c-black;
    margin-bottom: 1.5rem;

    @include mini-pad {
        font-size: $m-h2;
        line-height: 130%;
    }
}

h3,
.h3 {
    font-size: $h3;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: $c-black;

    @include mini-pad {
        font-size: $m-h3;
    }
}

h4,
.h4 {
    font-size: $h4;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.02em;

    @include mini-pad {
        font-size: $m-h4;
    }
}

h5,
.h5 {
    font-size: $h5;
    font-weight: 350;
    line-height: 130%;
    letter-spacing: 0.02em;

    @include mini-pad {
        font-size: $m-h5;
    }
}

p,
.p1 {
    font-size: $p1;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: $c-gray;

    @include mini-pad {
        font-size: $m-p1;
        // line-height: 110%;
    }
}

.p2 {
    font-size: $p2;
    font-weight: 300;
    line-height: 1.7;
    letter-spacing: 0.01em;

    @include mini-pad {
        font-size: $m-p2;
        // line-height: 105%;
    }
}

.tag {
    font-size: $tag;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 0.01em;

    @include mini-pad {
        font-size: $m-tag;
        line-height: 102%;
    }
}


// link disable
.disable{
    color: #b2b2b2 !important;
}

// 按鈕樣式
.btn {
    @extend %pointer;
    @extend %bb;
    @extend %dib;
    width: fit-content;
    padding: 12px 44px;
    font-size: $p2;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.01em;
    border-radius: 8px;
    color: $c-white;
    background: $c-primary;
    transition: all ease .4s;
    border: 1px solid $c-primary;
    white-space: nowrap;

    @include mini-pad {
        font-size: $m-p2;
        line-height: 105%;
    }

    &:hover {
        background: $c-white;
        color: $c-primary;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

}

// 主標題
.cardJob>.title {
    width: 100%;
    border-bottom: 1px solid $c-secondary-light;
    padding: 68px 0px;
    text-align: center;
    @include flex($d: column);
    gap: 20px;

    @include mini-pad {
        gap: 0px;
        padding: 40px 0px;
    }

    @include mobile {
        padding: 20px 0px;
    }
}

//職缺區塊標籤
.job-tag {
    @include flex($w: wrap);
    gap: 8px;

    >a {
        @extend %dib;
        font-size: $tag;
        color: $c-secondary;
        padding: 6px 10px;
        border: 1px solid $c-secondary;
        border-radius: 3px;

        &:hover {
            background: $c-secondary;
            color: $c-secondary-white;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}

//手機版換行
.br-rwd {
    display: none;

    @include mobile {
        display: block;
    }
}

// input&select - basic
input,
select,
textarea {
    border: none;

    &:focus {
        outline: none;
    }
}

// page-number style 2
.pgnb-style2 {
    @extend %db;
    margin: 2rem 0;
    width: 100%;

    .g-pagination {
        @include flex($a-i: center, $j-c: center);
        gap: 40px;

        select {
            @extend %bb;
            @extend %pointer;
            width: 100%;
            max-width: 140px;
            height: 47px;
            color: $c-gray;
            border-radius: 8px;
            padding: 0.5rem;
            padding-right: 2rem;
            -webkit-appearance: none;
            -moz-appearance: none;

            background-image: url('../img/pgnb-style2-arrow-d.svg');
            background-repeat: no-repeat;
            background-size: 58px 20px;
            background-position: calc(100% + 6px) calc(2em - 16px);
            border-color: #666;
        }

        a.tag {
            @include flex($a-i: center);
            column-gap: 10px;
            color: $c-gray;
            transition: all ease .4s;

            &.previous {
                flex-direction: row-reverse;

                svg {
                    transform: rotateY(180deg);
                }
            }

            &:hover {
                color: $c-primary-deep;

                &.next {
                    svg {
                        transform: translateX(10px);
                    }
                }

                &.previous {
                    svg {
                        transform: translateX(-10px) rotateY(180deg);
                    }
                }
            }

            span {
                @include flex;
            }

            svg {
                transition: all ease .4s;
            }
        }

        @include mobile {
            gap: 15px;

            a.tag {
                column-gap: 5px;
            }
        }
    }
}

// input with red btn style 共用
.classBtn {
    @include ClassicBtn(20px);
    margin-bottom: 1.5rem;

    input {
        @extend %bb;
        @include f-flexBasis(30%);
        color: $c-gray;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        height: 47px;

        &::placeholder {
            color: $c-gray;
            letter-spacing: 1px;
        }
    }

    button {
        @include f-flexBasis(10%);
        height: 47px;
        border-radius: 8px;
    }
}

//a link tab
.linkTab {
    border-bottom: 1px solid $c-secondary-light;
    width: 100%;
    @include flex($j-c: center);
    gap: 100px;

    @include mobile {
        gap: 40px;
    }

    .tabFocus {
        color: $c-primary;
        padding: 8px;
        border-bottom: 4px solid $c-primary;
    }

    a {
        display: inline-block;
        color: $c-gray;
        padding: 8px;

        &:hover {
            color: $c-secondary;
            transition: all ease .4s;
        }
    }

}

//form select
.form-select {

    select {
        @extend %bb;
        @extend %pointer;
        width: 100%;
        min-width: 140px;
        height: 47px;
        color: $c-gray;
        border-radius: 8px;
        padding: 0.5rem;
        padding-right: 2rem;
        -webkit-appearance: none;
        -moz-appearance: none;

        background-image: url('../img/select-dropdown-icon.svg');
        background-repeat: no-repeat;
        background-size: 36px 12px;
        background-position: calc(100% + -1px) calc(2em - 8px);
        border-color: #666;

        @include mini-pad {
            min-width: none;
        }

        @include mobile {
            min-width: none;
        }
    }
}

// 彈窗共用樣式
.apply-dialog {
    @extend %bb;
    @include fixed($top: 0, $left: 0, $right: 0, $bottom: 0, $z-i: 9992);
    content: '';
    width: 100%;
    height: 100%;
    padding: 1rem;

    &.dialog-application-info {
        .container {
            max-width: 650px;
            padding: 4rem 1.5rem 1.5rem;
        }
    }

    &.voted {
        ul {
            margin: 0.5rem 0 2rem;
            max-height: 173px;
            overflow-y: scroll;

            li {
                text-align: left;
                padding: 0.2rem 0;
                border-bottom: 1px dotted #C19E7F;

                a {
                    color: $c-black;
                    padding: 0.2rem 0;
                }
            }
        }
    }

    .container {
        // @extend %dn;
        @extend %bb;
        @extend %rel;
        @extend %tac;
        @include absolute($top: 55%, $left: 50%, $z-i: 9992);
        transform: translate(-50%, -50%);
        background: #F0E7DE;
        box-shadow: 0px 0px 11px rgb(0 0 0 / 7%);
        width: 90%;
        height: auto;
        max-width: 420px;
        border-radius: 0 8px 8px 8px;
        padding: 4rem 1.5rem 0.5rem;

        &.active {
            @extend %db;
        }

        p.h5 {
            @extend %tac;
            color: $c-secondary-deep;
            margin-bottom: 1rem;
            font-weight: 500;
        }

        p.p1 {
            text-align: left;
        }

        .deco {
            @include flex($j-c: space-between);
            @include fixed($top: 0, $left: 0);
            width: 100%;
        }

        .content {
            max-height: 400px;
            overflow-y: scroll;
        }

        button.btn {
            margin: 2rem 0;
        }

        .close-btn {
            @include absolute($top: 10px, $right: 10px);
            @extend %pointer;
            @extend %rel;
            width: 25px;
            height: 25px;
            border: 2px solid $c-primary;
            border-radius: 100px;

            span {
                @include absolute($top: 11px, $left: 2.5px);
                @extend %dib;
                width: 80%;
                height: 3px;
                background: $c-primary;
                border-radius: 5px;

                &.left {
                    transform: rotate(45deg);
                }

                &.right {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

// 彈窗背景共用
.dialog-bg {
    @include absolute($top: 0, $left: 0, $right: 0, $bottom: 0, $z-i: 9991);
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

//quote
.quote {
    @extend %bb;
    width: 100%;
    padding: 12px 36px;
    background: $c-secondary-white;
    position: relative;

    p {
        font-family: "adobe-fangsong-std", 'Noto Sans TC', sans-serif !important;
    }

    &:after {
        content: "";
        background: url(../img/quote-right.svg);
        @include bgi($size: contain, $position: center);
        @include absolute($right: 0, $bottom: -40px);
        display: block;
        width: 32px;
        height: 37px;
        position: absolute;
    }

    &:before {
        content: "";
        background: url(../img/quote-left.svg);
        @include bgi($size: contain, $position: center);
        @include absolute($top: -40px, $left: 0);
        display: block;
        width: 32px;
        height: 37px;
        position: absolute;
    }

}

// required
.require::after {
    content: '*';
    color: $c-secondary-deep;
    margin-left: 5px;
}

// btn clicked
button:focus {
    outline: none;
}

// 表單樣式
.form {
    @extend %ma;
    max-width: 950px;
    padding: 8rem 2rem;

    @include pad {
        padding: 4rem 2rem;
    }

    p.h2 {
        @extend %tac;
    }

    ul {
        display: grid;
        gap: 20px;

        li {
            @include flex($a-i: center);
            gap: 20px;

            select,
            input,
            textarea {
                @extend %bb;
                height: 47px;
                border: 1px solid #F0E7DE !important;
                color: $c-gray;
                font-size: $tag;
                border-radius: 5px;
                padding: 0.5rem;
                flex: 1;

                &::placeholder {
                    color: #9A9A9A;
                    letter-spacing: 1px;
                }
            }

            textarea {
                @extend %rel;
                line-height: 26px;
                min-height: 100px;

                &::placeholder {
                    @include absolute($right: 10px, $bottom: 10px);
                }
            }

            // title
            >label {
                @include f-flexBasis(140px);
                color: $c-secondary-deep;
                font-weight: 400;
            }

            // 下拉
            select {
                @extend %bb;
                @extend %pointer;
                flex: 1;
                padding-right: 2rem;
                -webkit-appearance: none;
                -moz-appearance: none;

                background-image: url('../img/select-dropdown-icon.svg');
                background-repeat: no-repeat;
                background-size: 65px 16px;
                background-position: calc(100% + 6px) calc(2em - 16px);
            }

            .g-condition,
            .g-file {
                @include f-flexBasis(100%);
                flex: 1;
            }

            .g-condition {
                @include flex($w: wrap, $j-c: space-between);
                gap: 10px;

                .condition {
                    @include flex($a-i: center);
                    gap: 10px;

                    span:not(.p2) {
                        flex: 0 0 20px;
                    }

                    &.other {
                        span.p2 {
                            flex: 0 0 40px;
                        }

                        input[type=text] {
                            height: 35px;
                        }
                    }

                    @include mobile {
                        flex-basis: 48%;
                    }
                }
            }

            // checkbox
            input[type=checkbox] {
                @extend %dn;

                &+span {
                    @extend %dib;
                    width: 20px;
                    height: 20px;
                    background: $c-white;
                    border: 2px solid $c-secondary-deep;
                    border-radius: 100px;
                }

                &:checked+span {
                    @extend %dib;
                    @extend %rel;
                    width: 20px;
                    height: 20px;
                    background: $c-white;
                    border-radius: 100px;

                    &::before {
                        @include absolute($top: 3.5px, $left: 3.5px);
                        content: '';
                        background: $c-secondary-deep;
                        border-radius: 100px;
                        width: 13px;
                        height: 13px;
                    }
                }
            }

            // upload file
            .g-file {
                @include flex($a-i: center, $w: wrap, $j-c: flex-start);
                gap: 20px;

                img {
                    max-width: 40px;
                }

                // input-file
                .inputfile+label {
                    @extend %pointer;
                    @include flex($a-i: center);
                    width: unset;
                    height: 40px;
                    font-weight: 400;
                    color: $c-white;
                    background-color: $c-primary;
                    border: none;
                    border-radius: 5px;
                    padding: 0.5rem 1rem;
                    margin: 0;
                }
            }

            @include mobile {
                flex-wrap: wrap;

                >label {
                    flex-basis: 100%;
                }

                select,
                input {
                    flex-basis: 100%;
                }
            }
        }
    }

    form {
        margin: 3rem auto;
    }

    .row {
        @include flex($j-c: center);
        gap: 20px;
        margin: 0 0 1rem;

        .cancel {
            background: $c-white;
            color: $c-primary;

            &:hover {
                background: $c-primary;
                color: $c-white;
            }
        }
    }
}

// 福利產業地區 篩選彈窗
.dialog-filter {
    // @extend %dn;
    @extend %rel;
    @include fixed($top: 0, $left: 0, $right: 0, $bottom: 0, $z-i: 9992);
    content: '';

    &.active{
        @extend %db;
    }

    .filter-wrapper {
        @extend %rel;
        height: 100%;
        width: 100%;

        &.active{
            @include flex($j-c:center);
        }

        .container {
            @include absolute($top:50%,$left:50%);
            transform: translate(-50%,-50%);
            width: 90%;
            max-width: 1000px;
            z-index: 9992;
            margin: 2rem auto;

            @include mini-pad{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                transform: unset;
                margin: 0;
                width: 100%;
            }

            .fixed {
                @extend %bb;
                @include flex($a-i: center, $j-c: space-between);
                width: 100%;
                height: 60px;
                background: #C19E7F;
                max-width: 1000px;
                padding: 0.5rem 1rem;
                border-radius: 10px 10px 0 0;
                border: 1.5px solid #D8C2AF;
                border-bottom: none;

                p {
                    color: #FFF;
                    font-weight: 600;

                    &.rwd {
                        @extend %dn;
                        font-family: 'Varta' !important;
                        font-weight: 700;
                    }
                }

                @include mini-pad{
                    border-radius: 0;

                    .basic{
                        &.active{
                            display: none !important;
                        }
                    }

                    .rwd-back{
                        cursor: pointer;

                        &.active{
                            display: block !important;
                        }
                    }
                }
            }

            .form {
                gap: 20px;
                margin: unset;
                padding: 0;
                max-width: unset;
                border: 1.5px solid #D8C2AF;
                border-top: none;
                border-radius: 0 0 10px 10px;
                overflow: hidden;
                background: #FFF;

                .filter{
                    margin: unset;
                    gap:0;

                    @include mini-pad{
                        height: 100vh;
                        position: relative;
                    }

                    .col{
                        padding: 0.5rem 0;

                        &.category{
                            flex-basis: 30%;
                            border-right: 1px solid #D8C2AF;

                            @include mini-pad{
                                overflow-y: scroll;
                                max-height: unset;
                                flex-basis: 100%;
                                // height: 100vh;
                                // max-height: -webkit-fill-available;
                                // padding: 1rem 0 2rem;
                                border: none;

                                ul{
                                    margin-bottom: 100px;
                                    height: 100%;
                                    padding-bottom: 110px;
                                }
                            }

                            ul{
                                gap: 5px;
                                padding-bottom: 80px;

                                @include mini-pad{
                                    overflow-y:scroll;
                                    height: unset;
                                }

                                h5{
                                    padding: 0.8rem 0.5rem;
                                    font-weight: 700;
                                    color: #C19E7F;
                                    padding-left: calc(50% - 100px) !important;
                                }

                                li{
                                    @include flex($a-i:center,$j-c:left);
                                    @extend %pointer;
                                    padding: 0.8rem 0.5rem;
                                    letter-spacing: 1px;
                                    line-height: 1.4;
                                    transition: all ease .4s;
                                    background: #fff;

                                    &:hover, &.active{
                                        background: #F7F3EC;
                                    }

                                    span{
                                        @extend %dib;
                                        @extend %bb;
                                        @extend %tac;
                                        background: #C19E7F;
                                        border-radius: 100px;
                                        width: 100%;
                                        max-width: 30px;
                                        height: 30px;
                                        color: $c-white;
                                        line-height: 30px;
                                    }
                                }
                            }
                        }

                        &.conditions{
                            flex-basis: 70%;
                            height: 100%;
                            background: $c-white;
                            
                            @include mini-pad{
                                max-height: unset;
                            }

                            .g-conditions{
                                @extend %dn;


                                &.active{
                                    display: block;
                                    left: 0;

                                    .g-label{
                                        display: grid !important;
                                        grid-template-columns: repeat(2,1fr);
                                        gap: 5px;
                                        padding: 0 0 1rem;
                                        border-bottom: 1px dashed #D8C2AF;

                                        &:last-child{
                                            border: none;
                                            padding-bottom: 90px;

                                            @include mini-pad{
                                                padding-bottom: 150px;
                                            }
                                        }

                                        .disabled{
                                            color: #B5B5B5;

                                            input[type=checkbox]{

                                                &+span{
                                                    border-color: #DDDDDD;
                                                    background: #DDDDDD;
                                                }

                                                &:checked+span {
                                                    display: inline-block;
                                                    width: 100%;
                                                    max-width: 20px;
                                                    height: 20px;
                                                    background: #DDDDDD;
                                                    margin: 0 10px 0 0;
                                                    position: relative;
                            
                                                    &::before,
                                                    &::after {
                                                        display: none;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }

                                h5{
                                    color: #AF8663;
                                    padding: 0.8rem 1rem;
                                }

                                label{
                                    @include flex($a-i:flex-start);
                                    @extend %pointer;
                                    padding: 0.8rem 1rem;
                                    line-height: 1.4;
                                    letter-spacing: 1px;
                                    transition: all ease .4s;
                                    background: #fff;

                                    &:hover{
                                        background: #F7F3EC;
                                    }
                                }
                            }

                            @include mini-pad{
                                @include absolute($z-i:-1,$left:100%);
                                flex-basis: 100%;
                                width: 100%;
                                transition: all ease .4s;

                                &.transform-rwd{
                                    z-index: 100;
                                    left: 0;
                                }
                                
                                .g-conditions{
                                    @include absolute($left:100%);
                                    transition: all ease .4s;
                                    width: 100%;

                                    &.transform{
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }

                .submit{
                    @extend %rel;
                    margin-bottom: 0;

                    .choice-info{
                        @include absolute;
                        width: -webkit-fill-available;
                        bottom: 10px;
                        background: #F7F3EC;
                        height: 84px;
                        padding: 1rem;
                        transition: all ease .4s;

                        @include mini-pad{
                            height: 140px;

                            &.active{
                                height: 178px;
                            }
                        }

                        @include mobile{
                            height: 140px;

                            &.acitve{
                                height: 212px;
                            }
                        }

                        // &.active{
                        //     height: 123px;
                        // }

                        span.view{
                            @extend %pointer;
                            @include flex($a-i:center);
                            @include absolute($top:-30px,$right:40px);
                            background: #F7F3EC;
                            border-radius: 5px 5px 0 0;
                            padding: 0.5rem 1rem;
                            color: #AF8663;
                            gap: 10px;
                            font-weight: 500;
                            letter-spacing: 1px;

                            svg{
                                width: 10px;
                                height: 10px;
                                transition: all ease .4s;
                            }

                            &.collapse{
                                &.active{
                                    display: flex !important;
                                    
                                    svg{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }

                        .conditions-box{
                            @include flex($w:wrap);
                            gap: 12px 10px;

                            div{
                                @extend %rel;
                                padding: 0.2rem 1.5rem 0.2rem 0.5rem;
                                border: 1px solid #C19E7F;
                                border-radius: 100px;
                                letter-spacing: 0.5px;
                                background: $c-white;

                                button{
                                    @extend %pointer;
                                    @include absolute($right:5px,$top:3px);
                                    width: 18px;
                                    height: 18px;
                                    overflow: hidden;
                                    text-indent: -999px;
                                    background-image: url('../img/remove.svg');
                                    background-position: 50%;
                                    background-repeat: no-repeat;
                                    background-color: transparent;
                                }
                            }
                        }
                    }

                    .submit-control{
                        @include flex($j-c:space-between,$a-i:center);
                        margin: 0;
                        padding: 1rem;
                        border-top: 1px solid #D8C2AF;
                        background: $c-white;
                        z-index: 101;
                        width: -webkit-fill-available;
    
                        @include mini-pad{
                            position: fixed;
                            bottom: 0;
                            width: -webkit-fill-available;
                            background: #FFF;
                            border-left: 1.5px solid #D8C2AF;
                            border-right: 1.5px solid #D8C2AF;
                            border-bottom: 1.5px solid #D8C2AF;
    
                        }
    
                        .col{
                            &:nth-child(1){
                                @include flex;
                                gap: 20px;
    
                                p{
                                    letter-spacing: 1px;
                                    color: #000;
    
                                    span{
                                        font-weight: 700;
                                        color: #C19E7F;

                                        &:nth-child(1){
                                            margin-left: 5px;
                                        }
                                        &:nth-child(3){
                                            margin-right: 5px;
                                        }
                                    }
    
                                    &.clean{
                                        color: #B5B5B5;
                                    }
                                }
                            }
    
                            p.clean{
                                @extend %pointer;
                                line-height: 2;
                                
                                svg{
                                    width: 12px;
                                    height: 12px;
                                    margin-right: 7px;
                                }
    
                                &.active{
                                    color: $c-primary;
    
                                    svg path{
                                        fill: $c-primary;
                                    }
                                }
                            }
    
                            .submit-bt{
                                @extend %pointer;
                                color: $c-white;
                                background: $c-primary;
                                border: 1px solid $c-primary;
                                font-weight: 500;
                                padding: 0.25rem 1.5rem;
                                border-radius: 100px;
                                transition: all ease .4s;
    
                                &:hover{
                                    color: $c-primary;
                                    background: $c-white;
                                    border:1px solid $c-primary;
                                }
                            }
                        }
                    }
                }

                input[type=checkbox] {
                    display: none;

                    &+span {
                        display: inline-block;
                        width: 100%;
                        max-width: 20px;
                        height: 20px;
                        background: #FFF;
                        margin: 0 10px 0 0;
                        border: 1.5px solid #D8C2AF;
                        border-radius: 2px;
                    }


                    &:checked+span {
                        display: inline-block;
                        width: 100%;
                        max-width: 20px;
                        height: 20px;
                        background: #C19E7F;
                        margin: 0 10px 0 0;
                        position: relative;

                        &::before,
                        &::after {
                            content: '';
                            position: absolute;
                            height: 2px;
                            background: #FFF;
                        }

                        &::before {
                            transform: rotate(308deg);
                            top: 9px;
                            width: 13px;
                            left: 5px;
                        }

                        &::after {
                            transform: rotate(40deg);
                            top: 11.5px;
                            width: 6px;
                            left: 3px;
                        }
                    }
                }
            }

            .close-btn{
                @extend %pointer;
            }
        }

        &.industry-wrapper{
            label:first-child{
                font-weight: 600;
            }

            .choice-info.active{
                height: 123px !important;
            }

            @include mini-pad{

                .choice-info.active{
                    height: 250px !important;
                }
                .category ul{
                    padding-bottom: 100px !important;
                }
            }

            .filter .category li{
                padding-left: calc( 100% / 2 - 100px) !important;
            }

            .category,.conditions{
                max-height: 550px;
                overflow-y: scroll;
            }
        }

        &.benefits-wrapper{

            .filter .category li{
                padding-left: calc( 100% / 2 - 50px) !important;
            }
        }

        &.area-wrapper{
            .filter .category li{
                padding-left: calc( 100% / 2 - 100px) !important;
            }

            .choice-info.active{
                height: 120px !important;
            }

            @include mini-pad{
                ul{
                    padding-bottom: 100px !important;
                }
            }

            .category{
                max-height: 550px;
                overflow-y: scroll;
            }

            .submit{
                @include mini-pad{
                    .choice-info.active{
                        height: 290px !important;
                    }
                }
            }
        }
    }
}