/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss ***!
  \************************************************************************************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap);
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss (1) ***!
  \****************************************************************************************************************************************************************************************/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css);
/*!****************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js!./src/sass/style.scss (2) ***!
  \****************************************************************************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
input, button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

nav {
  margin: auto;
  padding: 0 30px;
  max-width: 1920px;
  box-sizing: border-box;
}

nav .nav-brand, header {
  display: block;
}

nav .nav-brand img {
  display: inline-block;
}

.br-rwd {
  display: none;
}

.mobile-main-menu a, nav .main-menu li:hover > ul, nav .main-menu .dropdown-menu, nav .main-menu li:hover > a, nav .main-menu li:hover, nav .main-menu li a, nav .main-menu li, nav .main-menu a, nav .main-menu, nav .nav-brand img, nav .nav-brand, nav, header {
  box-sizing: border-box;
}

footer {
  background-color: #F7F1E7;
  padding-top: 80px;
}
@media screen and (max-width: 1024px) {
  footer {
    padding-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding-top: 40px;
  }
}
@media screen and (max-width: 420px) {
  footer {
    padding-top: 20px;
  }
}

.container-footer {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.2rem;
  position: relative;
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  justify-content: space-between;
  align-content: unset;
  align-items: unset;
  gap: 48px;
}
.container-footer h3 {
  color: #EF6261;
  font-size: 18px;
}
.container-footer a {
  color: #505050;
}
.container-footer a:hover {
  color: #EF6261;
  transition: all 0.3s ease;
}
.container-footer hr {
  border: 1px solid #DDB593;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .container-footer hr {
    width: 80%;
  }
}
.container-footer .menu-content {
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  justify-content: unset;
  align-content: unset;
  align-items: unset;
  gap: 12px;
}
.container-footer .footer-logo img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 250px;
}
.container-footer .footer-share img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 50px;
}
.container-footer .footer-menu {
  display: flex;
  flex-wrap: unset;
  flex-direction: unset;
  justify-content: space-between;
  align-content: unset;
  align-items: unset;
}
@media screen and (max-width: 1024px) {
  .container-footer .footer-menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    justify-items: center;
  }
}
.container-footer .text-center {
  display: flex;
  flex-wrap: unset;
  flex-direction: column;
  justify-content: space-between;
  align-content: unset;
  align-items: center;
  gap: 20px;
}
.container-footer .footer-subscribe {
  text-align: center;
  padding-bottom: 60px;
}
.container-footer .footer-subscribe input {
  padding: 8px 0px 8px 8px;
  background-color: white;
  border-radius: 4px;
}
.container-footer .footer-subscribe button {
  padding: 8px 36px;
  background-color: #EF6261;
  border-radius: 4px;
}

.footer-copy {
  background-color: #F0E7DE;
  display: flex;
  flex-wrap: unset;
  flex-direction: unset;
  justify-content: center;
  align-content: unset;
  align-items: center;
  gap: 52px;
  padding: 20px 0px;
}
.footer-copy .tag {
  color: #000000;
}
.footer-copy .tag:hover {
  color: #EF6261;
  transition: all 0.3s ease;
}

#button {
  visibility: hidden;
  z-index: 1000;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-block;
  width: 40px;
  height: auto;
  text-align: center;
  border-radius: 2px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
}

#button:hover {
  cursor: pointer;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

header {
  position: fixed;
  top: 0;
  right: unset;
  bottom: unset;
  left: 0;
  z-index: 5;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 20px;
  box-shadow: 0px 4px 20px rgba(213, 217, 219, 0.5);
  background-color: #FFFFFF;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
@media screen and (max-width: 1024px) {
  header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 70px;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}

nav {
  display: flex;
  flex-wrap: unset;
  flex-direction: unset;
  justify-content: space-between;
  align-content: unset;
  align-items: center;
  gap: 36px;
  width: 100%;
  padding: 20px 0px;
}
@media screen and (max-width: 768px) {
  nav {
    gap: 20px;
  }
}
nav .nav-brand {
  flex: 1;
}
nav .nav-brand img {
  width: 160px;
  height: 100%;
}
nav .main-menu {
  display: flex;
  flex-wrap: unset;
  flex-direction: unset;
  justify-content: unset;
  align-content: unset;
  align-items: center;
  flex: 1;
}
@media screen and (max-width: 1024px) {
  nav .main-menu {
    display: none;
  }
}
nav .main-menu a {
  font-weight: 300;
  background-color: #fff;
  color: #333;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 40px;
}
nav .main-menu li {
  white-space: nowrap;
}
nav .main-menu li a {
  color: #000000;
  font-weight: 300;
}
nav .main-menu li:hover > a {
  color: #EF6261;
  transition: all 0.3s ease;
}
nav .main-menu .dropdown-menu {
  position: absolute;
  top: 76%;
  right: unset;
  bottom: unset;
  left: unset;
  z-index: 0;
  z-index: 99;
  min-width: 180px;
  display: none;
}
nav .main-menu .dropdown-menu a {
  font-weight: 300;
  padding: 10px 25px;
}
nav .main-menu .dropdown-menu li:hover {
  border: none;
}
nav .main-menu li:hover > ul {
  display: block;
}

.login {
  justify-content: flex-end !important;
  flex: 6 !important;
}
.login a {
  display: flex;
  flex-wrap: unset;
  flex-direction: unset;
  justify-content: unset;
  align-content: unset;
  align-items: center;
  display: flex !important;
  gap: 4px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: none;
  background: #F7F1E7;
  padding: 5px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #000000;
}

.searchTerm:focus {
  color: #505050;
}

.searchButton {
  width: 30px;
  height: 30px;
  border: none;
  background: #F7F1E7;
  text-align: center;
  color: #000000;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  font-size: 8px;
}

/*Resize the wrap to see the search bar change!*/
.search-wrap {
  width: 30%;
}
@media screen and (max-width: 1024px) {
  .search-wrap {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.search-wrap .login a {
  display: flex;
  gap: 8px;
}

.mobile-menu {
  display: none;
}
@media screen and (max-width: 1024px) {
  .mobile-menu {
    display: block;
  }
}

.mobile-main-menu {
  overflow-y: auto;
}
.mobile-main-menu a {
  background-color: #fff;
  color: #333;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  font-size: 16px;
  line-height: 150%;
  font-weight: 300;
  letter-spacing: 0.01em;
}
.mobile-main-menu ul {
  display: none;
}

.is-hide {
  display: none !important;
}

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.6;
}
#nav-container * {
  visibility: visible;
}
#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0, 8px, 0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0, -8px, 0) rotate(-45deg);
}
#nav-container:focus-within #nav-content {
  transform: none;
}

.button {
  position: fixed;
  top: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: 0.3s;
}

.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 50%;
  max-width: 300px;
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100% - 70px);
  background: #FFFF;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateX(100%);
  transition: transform 0.3s;
  will-change: transform;
  contain: paint;
}
#nav-content ul {
  height: 100%;
}
#nav-content li a {
  padding: 10px 5px;
  display: flex;
  text-transform: uppercase;
  transition: color 0.1s;
}
#nav-content li a:hover {
  color: #EF6261;
}

* {
  font-family: "Noto Sans TC", sans-serif, Arial, "Font Awesome 6 Free" !important;
}

img {
  width: 100%;
}

h2, .h2 {
  font-size: 44px;
  font-family: "adobe-fangsong-std", "Noto Sans TC", sans-serif !important;
  font-weight: 600;
  font-style: normal;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  h2, .h2 {
    font-size: 37px;
    line-height: 102%;
  }
}

h3, .h3 {
  font-size: 32px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (max-width: 768px) {
  h3, .h3 {
    font-size: 28px;
  }
}

h4, .h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  h4, .h4 {
    font-size: 22px;
  }
}

h5, .h5 {
  font-size: 22px;
  font-weight: 350;
  line-height: 130%;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 768px) {
  h5, .h5 {
    font-size: 20px;
  }
}

p, .p1 {
  font-size: 19px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #505050;
}
@media screen and (max-width: 768px) {
  p, .p1 {
    font-size: 18px;
    line-height: 110%;
  }
}

.p2 {
  font-size: 18px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 768px) {
  .p2 {
    font-size: 16px;
    line-height: 105%;
  }
}

.tag {
  font-size: 16px;
  font-weight: 300;
  line-height: 120%;
  letter-spacing: 0.01em;
}
@media screen and (max-width: 768px) {
  .tag {
    font-size: 12px;
    line-height: 102%;
  }
}

.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: white;
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 105%;
  }
}

@media screen and (max-width: 1024px) {
  .br-rwd {
    display: block;
  }
}

/*# sourceMappingURL=main6af557d670a7ca323188.css.map*/