// card-job{
//     @extend %page-content;
//     padding: 0px;
//     @include basic_grid(4,1fr,20px,20px);
//     @include pad{
//         @include basic_grid(2,1fr,20px,20px);
//     }
//     // @include mini-pad{
//     //     @include basic_grid(1,1fr,20px,20px);
//     // }
// }

.jobTag-section{
    @extend %page-content;
    padding: 0px;
    @include basic_grid(3,1fr,40px,40px);
    @include pad{
        @include basic_grid(2,1fr,32px,32px);
    }
    @include mini-pad{
        @include basic_grid(1,1fr,28px,28px);
    }

    .card-jobTag{
        // min-width: 180px;
        // max-width: 300px;
        @include flex($d:column);
        gap:20px;

        background: $c-white;
        padding: 28px 28px;

        h4{
            @extend %bb;
            padding-bottom: 16px;
            border-bottom: 1px solid $c-secondary;
            a{
                color: $c-gray;
            }
        }

        .content-section{
            @include flex($d:column,$a-i:center);
            width: fit-content;
            gap:20px;
            background: $c-white;

            .card-content{
                @include flex($d:column);
                gap:16px;
                // background: $c-white;
                padding: 0px;
                .job-title{
                    @include flex($a-i:center);
                    gap:8px;

                    a{
                        color: $c-gray;
                    }

                    >img{
                        width: 50px;
                        object-fit: cover;
                        aspect-ratio: 1 / 1;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                        background-color: $c-white;
                        border-radius: 5px;
                    }
                    >p{
                        color: $c-gray;
                    }
                }
                .job-content{
                    >ul{
                        @include flex($d:column);
                        gap:8px;
                        a{
                            @include flex($a-i:center);
                            gap: 8px;
                        }
                    }
                    p{
                        color: $c-black;
                        text-align: left;
                    }
                    img{
                        @include mentor-img(18px);
                    }
                    .p2{
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        display: -webkit-box;
                    }
                }

                .job-tag{
                    >.tag{
                        background: $c-secondary-white;
                        border: none;
                        &:hover{
                            background: $c-secondary;
                            border: none;
                            color: $c-secondary-white;
                        }
                    }
                }
        
            }
        }
    

    
    }
}



// .minipad-swiper{
//     display: none;
//     @include mini-pad{
//         display: block;
//         max-width: 500px;   
//     }

//     @include mobile{
//         display: block;
//         max-width: 300px;   
//     }
//     .swiper {
//         width: 100%;
//         height: 100%;
//     }

//     .swiper-slide {
//         text-align: center;
//         font-size: 18px;
//         display: flex;
//         background-color: transparent;
//         justify-content: center;
//         align-items: center;
//     }

//     .swiper-slide img {
//         padding: 0px;
//         display: block;
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
//     .card-job{
//         @include mobile{
//             width: 200px;
//         }
//     }
// }