// card-job{
//     @extend %page-content;
//     padding: 0px;
//     @include basic_grid(4,1fr,20px,20px);
//     @include pad{
//         @include basic_grid(2,1fr,20px,20px);
//     }
//     // @include mini-pad{
//     //     @include basic_grid(1,1fr,20px,20px);
//     // }
// }

.cardJob-section{
    @extend %page-content;
    padding: 0px;
    @include basic_grid(4,1fr,20px,20px);
    @include pad{
        @include basic_grid(2,1fr,20px,20px);
    }
    @include mini-pad{
        display: none;
    }
}

.card-job{
    // min-width: 180px;
    // max-width: 300px;

    @include flex($d:column);

    >img{
        // @include mentor-img(300px);
        width: 100%;
        height: 100%;
    }

    .card-content{
        @include flex($d:column);
        gap:12px;
        background: $c-secondary-white;
        padding: 20px;
        @include mobile{
            padding: 15px 10px;
        }
        .job-title{
            @include flex($a-i:center);
            gap:8px;
            color: $c-primary;
            >p{
                color: $c-primary;
            }
        }
        .job-content{
            >ul{
                @include flex($d:column);
                gap:8px;
                a{
                    @include flex($a-i:center);
                    gap: 8px;
                }
            }
            p{
                color: $c-black;
                text-align: left;
            }
            img{
                @include mentor-img(18px);
            }
        }

    }

    .card-office{
        background: $c-primary;
        padding: 6px 20px;
        text-align: center;
        >p{
            color: $c-white;
        }

    }
}

.minipad-swiper{
    display: none;

    @include mini-pad{
        display: block;
        padding: 0px 40px;
        width: 100%;
    }

    @include mobile{
        padding: 0px 40px;
        // width: 100%;
    }

    .card-job{
        width: 100%;
        box-sizing: border-box;
        flex: 1;
        // width: 400px;
        // @include mobile{
            padding: 0px 40px;
        //     width: 100%;
        // }
        img{
            // @include mentor-img(600px);
            aspect-ratio: 16/9; 
        }
    }

    .job-content{
        img{
            aspect-ratio: unset; 
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
        max-height: unset !important;
        min-height: unset !important;
        margin-top: 20px !important;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        background-color: transparent;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        padding: 0px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-button-next,
    .swiper-button-prev {
        top: 55%;

        &::after {
            width: 34px;
            height: 53px;
        }

    }

      .swiper-button-next {
          right: 0px !important;

          &::after {
              content: url(../img/arrow-next.svg);

              @include mini-pad {
                  content: url(../img/arrow-next-rwd.svg);
                  width: 20px !important;
              }
          }
      }

      .swiper-button-prev {
          left: 0px !important;

          &::after {
              content: url(../img/arrow-prev.svg);
              width: 20px !important;

              @include mini-pad {
                  content: url(../img/arrow-prev-rwd.svg);
              }
          }
      }
      @media only screen and (max-width: $mini-pad) {

        .swiper-button-next,
        .swiper-button-prev {
            background: transparent;
            width: 20px !important;
        }

        .swiper-button-next {
            right: 10px !important;
            text-align: right;
        }

        .swiper-button-prev {
            left: 10px !important;
        }
    }
}


