

.category-section{
    @include flex($d:row-reverse,$a-i:flex-start);
    gap:80px;
    @include pad{
        @include flex($d:column,$a-i:center);
        gap:60px;
    }
    >.title{
        @include flex($d:column-reverse,$w:nowrap,$a-i:flex-start);
        width: auto;
        text-align: left;
        border: unset;
        padding: 0px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        @include pad{
            @include flex($d:column,$w:nowrap,$a-i:center);
            text-align: center;
            -webkit-writing-mode: horizontal-tb;
            writing-mode: horizontal-tb;
        }
        >h2{
            letter-spacing: 0.5rem;
        }
        >p{
            line-height: 150%;
            letter-spacing: 0.2rem;
        }
    }

    .category-content{
        max-width: 800px;
        >ul{
            @include basic_grid(3,1fr,60px,80px);

            @include mini-pad{
                @include basic_grid(2,1fr,40px,80px);
            }

            .category-item{

                &:nth-child(3n+2){
                    transform: translateY(100px);
                    @include mini-pad{
                        transform: none;
                    }
                }

                @include mini-pad{
                    &:nth-child(even){
                    transform: translateY(80px);
                    }
                    &:last-child{
                        transform: translateY(0px);
                    }
                }

                &:empty{
                    display: block;
                    width: 125px;
                    height: 100%;

                    @include mini-pad{
                        width: auto;
                        height: auto;
                        display: none;
                    }

                }
            }
        }
    }

}