

.swiper {
    width: 100%;
    height: 100%;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    @include flex($a-i:flex-start,$j-c:center);
    gap:40px;

    @include pad{
        @include flex($d:column,$a-i:center,$j-c:center);
        gap:40px;
    }

    .swiper-title{
        @include flex($d:column,$w:nowrap,$a-i:flex-start);
        gap:12px;
        height: 100%;
        text-align: left;
        border: unset;
        padding: 60px 80px 0px 0px;
        -webkit-writing-mode: vertical-rl;
        writing-mode: vertical-rl;

        p,h2{
            letter-spacing: 0.3rem;
            @include pad{
                letter-spacing: 0.2rem;
            }
        }

        p{
            line-height: 140%;
            @include pad{
                line-height: 1.5rem;
            }
            @include mobile{
                padding: 0px 20px;
                letter-spacing: 0rem;
                line-height: 1.8rem;
            }
        }

        @include pad{
            @include flex($d:column,$w:nowrap,$a-i:center);
            text-align: center;
            -webkit-writing-mode: horizontal-tb;
            writing-mode: horizontal-tb;
            gap:0px;
            padding: 0px;
            padding-bottom: 40px;
        }
    }
}

.swiper-slide img {
    padding: 40px 0px;
    display: block;
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: cover;
    overflow: hidden;
}