<!-- 07 職涯無照片tag區塊 -->

<div class="jobTag-section">
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
    <div class="card-jobTag">
        <h4><a href="">水電工程師(台北市、新北市)</a></h4>
        <div class="content-section">
            <div class="card-content">
                <div class="job-title">
                    <img src="assets/img/job-card-cover.png" alt="">
                    <p><a href="company-story.html">隆通工程有限公司</a></p>
                </div>
                <div class="job-content">
                    <ul>
                        <a href="">
                            <img src="assets/img/job-card-icon01.png" alt="">
                            <p>台北市南港區</p>
                        </a>
                        <a href="">
                            <img src="assets/img/job-card-icon02.png" alt="">
                            <p>月薪 33,000~43,000元</p>
                        </a>
                    </ul>
                </div>
                <!-- 職缺標籤:會自動換行，超過三行即不顯示 -->
                <div class="job-tag"> 
                    <a href="" class="tag">勞保</a>
                    <a href="" class="tag">健保</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">需穿著員工制服</a>
                    <a href="" class="tag">員工生日禮金</a>
                    <a href="" class="tag">年終獎金</a>
                    <a href="" class="tag">員工在職教育訓練</a>
                </div>
            </div>
            <div class="card-btn">
                <a href="" class="btn">
                    我要應徵
                </a>
            </div>
        </div>
    </div>
</div>


