<div class="g-pagination">
    <!-- 上一頁在有前一頁時才會顯現 -->
    <a href="" class="previous tag">上一頁
        <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.63626 18.6356L9.99988 19.9993L19.9997 9.9994L18.6361 8.63579L8.63626 18.6356Z" fill="#EF6262"/>
                <path d="M18.6363 11.3631L19.9999 9.99951L10 -0.000352563L8.6364 1.36327L18.6363 11.3631Z" fill="#EF6262"/>
            </svg>
        </span>
    </a>
    <select name="page">
        <option value="第一頁">第一頁</option>
        <option value="第二頁">第二頁</option>
        <option value="第三頁">第三頁</option>
    </select>
    <!-- 若沒有下一頁內容則隱藏 -->
    <a href="" class="next tag">下一頁
        <span>
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.63626 18.6356L9.99988 19.9993L19.9997 9.9994L18.6361 8.63579L8.63626 18.6356Z" fill="#EF6262"/>
                <path d="M18.6363 11.3631L19.9999 9.99951L10 -0.000352563L8.6364 1.36327L18.6363 11.3631Z" fill="#EF6262"/>
            </svg>
        </span>
    </a>
</div>